@import "tailwindcss";

.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #E7E3D8 transparent; /* Firefox: thumb track */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #E7E3D8;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #D6D1C2;
}